<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="moim.renew.backend.MoimCategory.CategoryDetail.Mapper.MoimCategoryDetaillMapper">
    <resultMap id="MoimCategoryResultMap" type="moim.renew.backend.MoimCategory.CategoryDetail.Entity.MoimCategoryDetailEntity">
        <id     property="categoryDetailId"    column="CategoryDetail_id"/>
        <result property="categoryId" column="Category_id"/>
        <result property="categorisationDetail" column="Category_detail_name"/>
    </resultMap>
</mapper>
