<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="moim.renew.backend.MoimCategory.Category.Mapper.MoimCategoryMapper">

    <!-- 결과 매핑 -->
    <resultMap id="MoimCategoryResultMap" type="MoimCateGoryEntity">
        <id     property="categoryId"      column="Category_id"/>
        <result property="categorisation"  column="Category_name"/>
    </resultMap>

    <!-- 대분류 삽입 -->
    <insert id="InsertCategory" parameterType="moim.renew.backend.MoimCategory.Category.Entity.MoimCateGoryEntity">
        INSERT INTO category (Category_name)
        VALUES (#{categorisation})
    </insert>

    <!-- 대분류 수정 -->
    <update id="UpdateCategory" parameterType="moim.renew.backend.MoimCategory.Category.Entity.MoimCateGoryEntity">
        UPDATE category
        SET Category_name = #{categorisation}
        WHERE Category_id = #{categoryId}
    </update>

    <!-- 대분류 조회 -->
    <select id="SelectCategory" resultMap="MoimCategoryResultMap">
        SELECT Category_id, Category_name
        FROM category
    </select>
    <!-- 대분류 개별 조회   -->
    <select id="GetByCategoryId"  parameterType="java.lang.Integer" resultMap="MoimCategoryResultMap">
        SELECT Category_id, Category_name
        FROM category WHERE  Category_id = #{categoryId}
    </select>
    <!-- 대분류 삭제 -->
    <delete id="DeleteCategory" parameterType="java.lang.Integer">
        DELETE FROM category
        WHERE Category_id = #{categoryId}
    </delete>

</mapper>
