<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="moim.renew.backend.MoimDetail.Mapper.MoimDetailMapper">
    <resultMap id="moimResultMap" type="moim.renew.backend.MoimDetail.Entity.MoimDetailEntity">
        <id     property="moimId"   column="moim_id"/>
        <result property="content"  column="content"/>
        <result property="minPeople"  column="min_people"/>
    </resultMap>
    <insert id="moimofInsert" parameterType="moim.renew.backend.MoimDetail.Entity.MoimDetailEntity">
        INSERT INTO moimDetail(moimId, content, mimPeople) VALUES(#{moimId}, #{content}, #{min_people})
    </insert>
    <update id="updatemoimdetailbyResult">
        UPDATE moimDetail SET content = #{content}, mimPeople = #{mimPeople} WHERE moimId = #{moimId}
    </update>
    <select id="selectmoimdetailbyResult">
        SELECT * FROM moimDetail WHERE moimId = #{moimId}
    </select>
    <delete id="deletemoimdetailbyResult">
        DELETE FROM moimDetail WHERE moimId = #{moimId}
    </delete>
</mapper>
