<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="moim.renew.backend.Consult.Mapper.ConsultMapper">
    <resultMap id="ConsultResultMap" type="ConsultEntity">
        <id     property="moimConsultId"    column="Moims_consultId"/>
        <result property="nickname" column="Nickname"/>
        <result property="consultCategoryId" column="Consult_categoryId"/>
        <result property="consultComment" column="Consult_Comment"/>
        <result property="title" column="Title"/>
        <result property="createDate" column="Create_Date"/>
        <result property="viewcount" column="View_count" />
    </resultMap>

    <!--  상담 게시판 조회  -->
    <select id="SelectConsult" parameterType="java.lang.String" resultMap="ConsultResultMap">
        SELECT Moims_consultId, Nickname, Consult_categoryId, Consult_Comment,title,Create_Date FROM moim_consult WHERE Moims_consultId = #{moimConsultId}
    </select>
    <!--  상담 게시판 내용 생성  -->
    <insert id="InsertConsult" parameterType="ConsultEntity">
        INSERT INTO moim_consult(Moims_consultId, Nickname, Consult_categoryId, Consult_Comment,Title) VALUES(#{moimConsultId}, #{nickname},#{consultCategoryId},#{consultComment},#{title})
    </insert>
    <!-- 상담 게시판 내용 수정  -->
    <update id="UpdateConsult" parameterType="ConsultEntity">
        UPDATE moim_consult SET nickname = #{nickname},Title = #{title}, Consult_Comment = #{consultComment}, Consult_categoryId = #{consultCategoryId}  WHERE Moims_consultId = #{moimConsultId}
    </update>
    <delete id="DeleteConsult" parameterType="java.lang.String">
        DELETE FROM moim_consult WHERE Moims_consultId = #{moimConsultId}
    </delete>
    <!-- 전체 게시판 조회 -->
    <select id="SelectConsultBYCategoryId" parameterType="java.lang.Integer" resultMap="ConsultResultMap">
        SELECT * FROM moim_consult WHERE Consult_categoryId = #{consultCategoryId}
    </select>
    <update id="UpdateViewCount" parameterType="java.lang.String">
        UPDATE moim_consult
        SET view_count = view_count + 1
        WHERE Moims_consultId = #{moimConsultId}
    </update>
</mapper>
