<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="moim.renew.backend.MoimReview.Mapper.MoimReviewMapper">
    <resultMap id="moimReviewResultMap" type="moim.renew.backend.MoimReview.Entity.MoimReviewEntity">
        <id     property="moimId"    column="moim_id"/>
        <result property="reviewer" column="reviewer_nickname"/>
        <result property="score" column="score"/>
        <result property="comment" column="comment"/>
    </resultMap>

    <insert id="InsertofmoimReview" parameterType="moim.renew.backend.MoimReview.Entity.MoimReviewEntity">
        INSERT INTO moimReView(moimId, reviewer, score, comment) VALUES(#{moimId},#{reviewer}, #{scorec}, #{comment})
    </insert>
    <update id="updateofscore" parameterType="moim.renew.backend.MoimReview.Entity.MoimReviewEntity">
        UPDATE moimReView SET score = #{score} WHERE moimId = #{moimId} AND reviewer = #{reviewer}
    </update>
    <update id="updateofcomment" parameterType="moim.renew.backend.MoimReview.Entity.MoimReviewEntity">
        UPDATE moimReView SET comment = #{comment} WHERE moimId = #{moimId} AND reviewer = #{reviewer}
    </update>
    <update id="updateofcommentandscore" parameterType="moim.renew.backend.MoimReview.Entity.MoimReviewEntity">
        UPDATE moimReView SET comment = #{comment}, score = #{score} WHERE moimId = #{moimId} AND reviewer = #{reviewer}
    </update>
    <delete id="deleteofmoimReview" parameterType="moim.renew.backend.MoimReview.Entity.MoimReviewEntity">
        DELETE FROM moimReview WHERE moimId = #{moimId} AND reviewer = #{reviewer}
    </delete>
    <select id="getAverageScoreByMoimId" parameterType="string" resultType="double">
        SELECT AVG(score)
        FROM moimReview
        WHERE moim_id = #{moimId}
    </select>
    <select id="getReviewsByMoimId" parameterType="string" resultMap="moimReviewResultMap">
        SELECT moim_id, reviewer_nickname, score, comment
        FROM moimReview
        WHERE moim_id = #{moimId}
    </select>
</mapper>
