<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="moim.renew.backend.Favorite.Mapper.FavoriteMapper">

    <resultMap id="favoriteResultMap" type="moim.renew.backend.Favorite.Entity.FavoriteEntity">
        <id     property="moimId"   column="moim_id"/>
        <id     property="userId"   column="user_id"/>
    </resultMap>
    <insert id="Insertfavoriteofmoim" parameterType="string">
        INSERT INTO favorite(moimId, userId) VALUES(moimId = #{moimId}, userId = #{userId})
    </insert>
    <delete id="Deleteoffavorite" parameterType="string">
        DELETE FROM favorite WHERE moimId = #{moimId} AND userId = #{userId}
    </delete>
    <select id="selectoffavorite" parameterType="string">
        SELECT FROM favorite WHERE user_id = #{userId}
    </select>
    <select id="selectofmoimId" parameterType="string">
        SELECT FROM favorite WHERE moimId = #{moimId}
    </select>
</mapper>
