<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="moim.renew.backend.Consult.Mapper.ConsultMapper">
    <resultMap id="ConsultResultMap" type="moim.renew.backend.Consult.Entity.ConsultEntity">
        <id     property="moimConsultId"    column="Moims_consultId"/>
        <result property="nickname" column="Nickname"/>
        <result property="consultCategoryId" column="Consult_categoryId"/>
        <result property="consultComment" column="Consult_Comment"/>
    </resultMap>

    <!--  상담 게시판 조회  -->
    <select id="SelectConsult" parameterType="string" resultMap="ConsultResultMap">
        SELECT Moims_consultId, Nickname, Consult_categoryId, Consult_Comment FROM moim_consult WHERE Moims_consultId = #{moimConsultId}
    </select>
    <!--  상담 게시판 내용 생성  -->
    <insert id="InsertConsult" parameterType="moim.renew.backend.Consult.Entity.ConsultEntity">
        INSERT INTO moim_consult(Moims_consultId, Nickname, Consult_categoryId, Consult_Comment) VALUES(#{moimConsultId}, #{nickname},#{consultCategoryId},#{consultComment})
    </insert>
    <!-- 상담 게시판 내용 수정  -->
    <update id="UpdateConsult" parameterType="moim.renew.backend.Consult.Entity.ConsultEntity">
        UPDATE moim_consult SET nickname = #{nickname}, Consult_Comment = #{consultComment}, Consult_categoryId = #{consultCategoryId}  WHERE Moims_consultId = #{moimConsultId}
    </update>
    <delete id="DeleteConsult" parameterType="string">
        DELETE FROM moim_consult WHERE Moims_consultId = #{moimConsultId}
    </delete>
    <!-- 전체 게시판 조회 -->
    <select id="SelectConsultAll" resultMap="moim.renew.backend.Consult.Entity.ConsultEntity">
        SELECT * FROM moim_consult
    </select>
</mapper>
