<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="moim.renew.backend.UserReview.Mapper.UserReviewMapper">
    <resultMap id="userReviewResultMap" type="moim.renew.backend.UserReview.Entity.UserReviewEntity">
        <id     property="id"    column="id"/>
        <result property="reviewer" column="reviewer"/>
        <result property="reviewee" column="reviewee"/>
        <result property="score" column="score"/>
    </resultMap>

    <insert id="InsertuserReview" parameterType="moim.renew.backend.UserReview.Entity.UserReviewEntity">
        INSERT INTO userReview(reviewer, reviewee, score)
        VALUES(#{reviewer}, #{reviewee}, #{score})
    </insert>

    <update id="UpdateuserReview" parameterType="string">
        UPDATE userReview
        SET score = #{score}
        WHERE reviewer = #{reviewer} AND reviewee = #{reviewee}
    </update>

    <delete id="DeleteuserReview" parameterType="map">
        DELETE FROM userReview WHERE reviewer = #{reviewer} AND reviewee = #{reviewee}
    </delete>

    <select id="FindofuserReview" parameterType="string" resultType="List">
        SELECT * FROM userReview WHERE reviewee = #{reviewee}
    </select>
    <select id="FindofuserReviewId" parameterType="string" resultType="moim.renew.backend.UserReview.Entity.UserReviewEntity">
        SELECT * FROM userReview WHERE id = #{id}
    </select>

</mapper>
