<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="moim.renew.backend.User.Mapper.UserMapper">

    <resultMap id="userResultMap" type="moim.renew.backend.User.Entity.UserEntity">
        <id     property="userId"    column="User_id"/>
        <result property="password" column="Password"/>
        <result property="nickname" column="Nickname"/>
        <result property="intro" column="Intro"/>
        <result property="review" column="Review"/>
        <result property="provider" column="Provider"/>
        <result property="profileImg" column="Profileimg"/>
        <result property="birthDay" column="Birthday"/>
        <result property="gender" column="Gender"/>
        <result property="type" column="Type"/>
        <result property="address" column="Address"/>
        <result property="addressDetail" column="AddressDetail"/>
        <result property="Interests" column="Interests"/>
    </resultMap>

    <insert id="InsertUser" parameterType="moim.renew.backend.User.Entity.UserEntity">
        INSERT INTO users(user_id, password, nickname, review, Intro)
        VALUES(#{userId}, #{password}, #{nickname}, #{review}, #{Intro})
    </insert>

    <update id="UpdateUser" parameterType="moim.renew.backend.User.Entity.UserEntity">
        UPDATE users
        SET password = #{password}, nickname = #{nickname}, review = #{review}, Intro = #{Intro}
        WHERE user_id = #{userId}
    </update>

    <delete id="DeleteUser" parameterType="map">
        DELETE FROM users WHERE user_id = #{userId} AND password = #{password}
    </delete>

    <update id="UpdatePasswordByEmail" parameterType="map">
        UPDATE users
        SET password = #{password}
        WHERE user_id = #{userId}
    </update>
    <select id="getUserID" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM users WHERE user_id = #{userId}
    </select>

    <select id="FindUserID" parameterType="string" resultType="moim.renew.backend.User.Entity.UserEntity">
        SELECT * FROM users WHERE user_id = #{userId}
    </select>
</mapper>
