<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="moim.renew.backend.domain.Moim.MoimReview.Mapper.MoimReviewMapper">

    <!-- 모임 리뷰 Entity와 모임 리뷰 테이블 간 매핑 -->
    <resultMap id="moimReviewResultMap" type="MoimReviewEntity">
        <id     property="moimReviewId"    column="Moims_reviewId"/>
        <result     property="moimId"    column="Moim_id"/>
        <result property="reviewer" column="Reviewer_nickname"/>
        <result property="score" column="Score"/>
        <result property="comment" column="Comment"/>
    </resultMap>

    <!--  모임 주최자 평점 기능  -->
    <insert id="InsertofmoimReview" parameterType="MoimReviewEntity">
        INSERT INTO moim_review(Moims_reviewId,Moim_id, Reviewer_nickname, Score, Comment) VALUES(#{moimReviewId},#{moimId},#{reviewer}, #{score}, #{comment})
    </insert>

    <!-- 모임 주최자에 대한 정보 수정 : 점수   -->
    <update id="updateofscore" parameterType="MoimReviewEntity">
        UPDATE moim_review SET Score = #{score} WHERE Moim_id = #{moimId} AND Reviewer_nickname = #{reviewer}
    </update>
    <!-- 모임 주최자에 대한 정보 수정 : 내용   -->
    <update id="updateofcomment" parameterType="MoimReviewEntity">
        UPDATE moim_review SET Comment = #{comment} WHERE Moim_id = #{moimId} AND Reviewer_nickname = #{reviewer}
    </update>
    <!-- 모임 리뷰에 대한 정보 수정 : 점수, 내용   -->
    <update id="updateofcommentandscore" parameterType="MoimReviewEntity">
        UPDATE moim_review SET Comment = #{comment}, Score = #{score} WHERE Moim_id = #{moimId} AND Reviewer_nickname = #{reviewer}
    </update>
    <!-- 모임 리뷰에 대한 정보 삭제 -->
    <delete id="deleteofmoimReview" parameterType="MoimReviewEntity">
        DELETE FROM moim_review WHERE Moim_id = #{moimId} AND Reviewer_nickname = #{reviewer}
    </delete>

    <!-- 모임의 평균 점수 조회   -->
    <select id="getAverageScoreByMoimId" parameterType="java.lang.String" resultType="java.lang.Double">
        SELECT AVG(Score)
        FROM moim_review
        WHERE Moim_id = #{moimId}
    </select>

    <!-- 모임 리뷰 조회   -->
    <select id="getReviewsByMoimId" parameterType="java.lang.String" resultMap="moimReviewResultMap">
        SELECT Moim_id, Reviewer_nickname, Score, Comment
        FROM moim_review
        WHERE Moim_id = #{moimId}
    </select>

    <!-- 한 유저의 모임 리뷰 남긴 정보 조회   -->
    <select id="getReviewsBynickname" parameterType="java.lang.String" resultMap="moimReviewResultMap">
        SELECT Moim_id, Reviewer_nickname, Score, Comment
        FROM moim_review
        WHERE Reviewer_nickname = #{reviewer}
    </select>

    <!--    한  유저가 해당 모임에 남긴 정보 조회-->
    <select id="getReviewsBynicknameAndMoimId" parameterType="java.lang.String" resultMap="moimReviewResultMap">
        SELECT Moim_id, Reviewer_nickname, Score, Comment
        FROM moim_review
        WHERE Moim_id = #{moimId} AND Reviewer_nickname = #{reviewer}
    </select>
</mapper>
