<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="moim.renew.backend.domain.Moim.MoimFavorite.Mapper.FavoriteMapper">

    <!-- 리뷰 찜 기능 Entity와 찜 테이블 매핑   -->
    <resultMap id="favoriteResultMap" type="FavoriteEntity">
        <id     property="favoriteId" column="FavoriteId"/>
        <result property="moimId"   column="Moim_id"/>
        <result property="userId"   column="UserId"/>
    </resultMap>

    <!--  찜 목록 생성  -->
    <insert id="Insertfavoriteofmoim" parameterType="moim.renew.backend.domain.Moim.MoimFavorite.Entity.FavoriteEntity">
        INSERT INTO moim_favorite(Moim_id, UserId) VALUES(#{moimId}, #{userId})
    </insert>
    <!-- 찜 목록 삭제  -->
    <delete id="Deleteoffavorite">
        DELETE FROM moim_favorite WHERE Moim_id = #{moimId} AND UserId = #{userId}
    </delete>

    <!-- 찜 목록 찾기 -->
    <select id="selectoffavorite"
            parameterType="moim.renew.backend.domain.Moim.MoimFavorite.Entity.FavoriteEntity"
            resultMap="favoriteResultMap">
        SELECT * FROM moim_favorite WHERE UserId = #{userId}
    </select>

    <!-- 해당 목록의 찜 설정 여부 -->
    <select id="selectofmoimId"
            parameterType="moim.renew.backend.domain.Moim.MoimFavorite.Entity.FavoriteEntity"
            resultMap="favoriteResultMap">
        SELECT * FROM moim_favorite WHERE Moim_id = #{moimId} AND UserId = #{userId}
    </select>
</mapper>
