<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="moim.renew.backend.domain.User.UserReview.Mapper.UserReviewMapper">
    <resultMap id="userReviewResultMap" type="moim.renew.backend.domain.User.UserReview.Entity.UserReviewEntity">
        <id     property="reviewsId"    column="Reviews_id"/>
        <result property="reviewer" column="Reviewer"/>
        <result property="reviewee" column="Reviewee"/>
        <result property="score" column="Score"/>
    </resultMap>

    <!--  user 리뷰 생성  -->
    <insert id="InsertuserReview" parameterType="moim.renew.backend.domain.User.UserReview.Entity.UserReviewEntity">
        INSERT INTO user_review(Reviewer, Reviewee, Score)
        VALUES(#{reviewer}, #{reviewee}, #{score})
    </insert>

    <!--  user 평정 관련 리뷰 수정  -->
    <update id="UpdateuserReview" parameterType="UserReviewEntity">
        UPDATE user_review
        SET Score = #{score}
        WHERE Reviewer = #{reviewer} AND Reviewee = #{reviewee}
    </update>

    <!-- user 리뷰 삭제   -->
    <delete id="DeleteuserReview" parameterType="map">
        DELETE FROM user_review WHERE Reviewer = #{reviewer} AND Reviews_id = #{reviewsId}
    </delete>
    <!-- 리뷰 받은 이의 리뷰 확인 기능   -->
    <select id="FindofuserReviewee" parameterType="string" resultType="List">
        SELECT * FROM user_review WHERE Reviewee = #{reviewee}
    </select>
    <!-- 자신이 남긴 리뷰 확인 기능-->
    <select id="FindofuserReviewer" parameterType="string" resultType="List">
        SELECT * FROM user_review WHERE Reviewer = #{reviewer}
    </select>

    <!-- 리뷰 수정을 위한 리뷰 확인   -->
    <select id="FindGet" parameterType="string">
        SELECT * FROM user_review WHERE Reviewer = #{reviewer} AND Reviewee = #{reviewee}
    </select>

    <!-- 리뷰 확인 기능 : 리뷰 아이디에 대하여 -->
    <select id="FindofuserReviewId" parameterType="string" resultType="moim.renew.backend.domain.User.UserReview.Entity.UserReviewEntity">
        SELECT * FROM user_review WHERE Reviews_id = #{reviewsId}
    </select>
</mapper>
