/* Removed Tailwind directives because build tool does not recognize @tailwind rules */
/* Add your own CSS reset or base styles here if needed */
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PartialSansKR-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "GmarketSansMedium";
}
@tailwind base;
@tailwind components;
@tailwind utilities;
