/* Removed Tailwind directives because build tool does not recognize @tailwind rules */
/* Add your own CSS reset or base styles here if needed */
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PartialSansKR-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "GmarketSansMedium";
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.Toastify__toast {
  min-width: 400px; /* 기본보다 넓게 */
  max-width: 600px; /* 최대 넓이 */
  font-size: 18px; /* 글자 크기 */
  padding: 16px 24px; /* 내부 여백 */
}
