<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="moim.renew.backend.domain.Consult.ConsultComment.Mapper.ConsultCommentMapper">
    <resultMap id="ConsultCommentResultMap" type="ConsultCommentEntity">
        <id     property="moimConsultCommentId"    column="Moims_ConsultCommentId"/>
        <result property="moimConsultId" column="Moims_consultId"/>
        <result property="nickname" column="Nickname"/>
        <result property="password" column="Password"/>
        <result property="comments" column="Comments"/>
        <result property="updateDate" column="Update_Date"/>
        <result property="profileImg" column="Profileimg"/>
    </resultMap>

    <!-- 문의 게시판의 댓글 개설   -->
    <insert id="InsertConsultComment" parameterType="ConsultCommentEntity">
        INSERT INTO moim_consult_comment( Moims_ConsultCommentId, Moims_consultId, Nickname, Password, Comments, Profileimg)
        VALUES( #{moimConsultCommentId}, #{moimConsultId}, #{nickname}, #{password}, #{comments},#{profileImg})
    </insert>
    <!--  문의 게시판의 댓글 수정  -->
    <update id="UpdateConsultComment" parameterType="ConsultCommentEntity">
        UPDATE moim_consult_comment SET Comments = #{comments} WHERE Moims_ConsultCommentId = #{moimConsultCommentId}
    </update>
    <!-- 문의 댓글 게시판 삭제-->
    <delete id="DeleteConsultComment" parameterType="java.lang.String">
        DELETE FROM moim_consult_comment WHERE Moims_ConsultCommentId = #{moimConsultCommentId} AND Password = #{password}
    </delete>
    <!-- 문의 게시판의 댓글 확인 -->
    <select id="SelectConsultComment" parameterType="java.lang.String" resultMap="ConsultCommentResultMap">
        SELECT * FROM moim_consult_comment WHERE Moims_ConsultCommentId = #{moimConsultCommentId}
    </select>
    <!-- 문의 게시판의 댓글 확인 -->
    <select id="SelectConsultComments" parameterType="java.lang.String" resultMap="ConsultCommentResultMap">
        SELECT * FROM moim_consult_comment WHERE Moims_consultId = #{moimConsultId}
    </select>

</mapper>
